img {
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
}
@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.page {
  min-width: 320px;
  height: 100%;
  margin: 0 auto;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  width: 320px;
}
@media (min-width: 768px) {
  .page {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .page {
    width: 1200px;
  }
}
.page__body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}
.page__main {
  margin: 0;
}
.page-header {
  background-color: #ffffff;
  position: relative;
  height: 56px;
}
.page-header__logo {
  position: absolute;
  left: 50%;
  z-index: 2;
  margin-left: -51px;
}
@media (min-width: 768px) {
  .page-header__logo {
    top: 0;
  }
}
@media (min-width: 1200px) {
  .page-header__logo {
    margin-left: -93.5px;
  }
}
.page-header__logo-image {
  width: 102px;
  height: 84px;
}
@media (min-width: 1200px) {
  .page-header__logo-image {
    width: 187px;
    height: 96px;
  }
}
.main-nav--opened .site-menu::after {
  position: absolute;
  content: "";
  display: block;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 10px;
  box-shadow: inset 0px -7px 10px -5px rgba(0, 0, 0, 0.2);
}
.main-nav__bar-toggler {
  position: absolute;
  top: 17px;
  right: 17px;
  z-index: 2;
  display: block;
  width: 22px;
  height: 22px;
  background-color: #81b3d2;
  border: none;
  cursor: pointer;
  z-index: 1002;
}
.main-nav__bar-toggler:hover {
  opacity: 60%;
}
@media (min-width: 768px) {
  .main-nav__bar-toggler {
    display: none;
  }
}
.main-nav--closed .main-nav__bar-toggler::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  width: 22px;
  height: 4px;
  background-color: #ffffff;
  box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
}
.main-nav--opened .main-nav__bar-toggler::before,
.main-nav--opened .main-nav__bar-toggler::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  width: 22px;
  height: 4px;
  background-color: #ffffff;
  box-shadow: 0 8px 0 0 #ffffff;
}
.main-nav--opened .main-nav__bar-toggler::before {
  transform: rotate(45deg);
  box-shadow: none;
}
.main-nav--opened .main-nav__bar-toggler::after {
  transform: rotate(-45deg);
  box-shadow: none;
}
.main-nav {
  position: relative;
}
@media (min-width: 768px) {
  .main-nav {
    width: auto;
    margin: 0;
  }
}
.main-nav--opened .site-menu {
  position: fixed;
  margin: auto;
  width: 320px;
  z-index: 1001;
}
.page__main,
.page-header__logo {
  z-index: 1;
}
.main-nav--opened .page-header__logo {
  display: none;
}
@media (max-width: 767px) {
  .main-nav--closed .site-menu__item {
    display: none;
  }
}
.main-nav--nojs .main-nav__toggle {
  display: none;
}
@media (min-width: 1200px) {
  .edge-shadows {
    position: relative;
  }
}
@media (min-width: 1200px) {
  .edge-shadows:before {
    content: "";
    position: absolute;
    top: 0;
    left: -15px;
    width: 15px;
    height: 100%;
    box-shadow: -15px 0 10px -19px inset;
  }
}
@media (min-width: 1200px) {
  .edge-shadows:after {
    content: "";
    position: absolute;
    right: -15px;
    top: 0;
    width: 15px;
    height: 100%;
    box-shadow: 15px 0 10px -19px inset;
  }
}
.footer {
  margin: 0;
}
.footer__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  margin-top: 10px;
}
@media (min-width: 768px) {
  .footer__wrapper {
    margin-top: 0;
    flex-direction: row;
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .footer__wrapper {
    width: 1200px;
  }
}
.contacts {
  padding-top: 28px;
  padding-bottom: 30px;
}
@media (min-width: 768px) {
  .contacts {
    padding: 48px 97px 45px 45px;
  }
}
@media (min-width: 1200px) {
  .contacts {
    padding: 36px 256px 45px 104px;
  }
}
.contacts__link {
  text-decoration: none;
  color: #000000;
  font-size: 21px;
  font-weight: 700;
}
.contacts__link:hover {
  outline: none;
  color: #81b3d2;
}
.contacts__link:focus {
  outline: none;
  color: #766357;
}
.contacts__link:active {
  outline: none;
  color: #b3b3b3;
}
.social__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 156px;
}
@media (min-width: 767px) {
  .social__list {
    padding-top: 30px;
  }
}
@media (min-width: 768px) {
  .social__list {
    padding-top: 0;
  }
}
@media (min-width: 1200px) {
  .social__list {
    padding-top: 0;
  }
}
.social {
  padding-bottom: 30px;
}
@media (min-width: 768px) {
  .social {
    padding: 36px 105px 36px 0;
  }
}
@media (min-width: 1200px) {
  .social {
    padding: 36px 261px 46px 0;
  }
}
.social__item:nth-child(n+4) {
  margin-top: 10px;
}
.social__link {
  display: inline-block;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background-color: hsl(203, 47%, 66%);
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  border: none;
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #81B3D2;
}
.social__link:hover {
  outline: none;
  background-color: #669EC0;
}
.social__link:focus {
  outline: none;
  background-color: #669ec0;
}
.social__link:active {
  outline: none;
  background-color: #5496BD;
  transition: 0.5s;
}
.social__link svg {
  display: block;
}
.copyright {
  padding-bottom: 33px;
}
@media (min-width: 767px) {
  .copyright {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media (min-width: 768px) {
  .copyright {
    padding: 48px 83px 43px 10px;
  }
}
@media (min-width: 1200px) {
  .copyright {
    padding: 36px 143px 46px 10px;
  }
}
.copyright__link {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 135px;
  text-decoration: none;
  padding: 0;
  color: black;
}
.copyright__link:hover {
  outline: none;
  color: #81b3d2;
}
.copyright__link:focus {
  outline: none;
  color: #766357;
}
.copyright__link:active {
  outline: none;
  color: #b3b3b3;
}
#logo-academy {
  fill: currentColor;
}
.advantages__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  padding-bottom: 33px;
}
@media (min-width: 768px) {
  .advantages__list {
    width: 768px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 58px;
  }
}
@media (min-width: 1200px) {
  .advantages__list {
    width: 1200px;
  }
}
.advantages__item-wrapper {
  width: 320px;
  background-color: #81b3d2;
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
.advantages__item-wrapper .advantages__description {
  color: #ffffff;
}
@media (min-width: 768px) {
  .advantages__item-wrapper {
    width: 256px;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .advantages__item-wrapper {
    width: 400px;
  }
}
.advantages__item {
  background-color: #eeeeee;
  width: 320px;
}
.advantages__item:first-child {
  position: relative;
}
.advantages__item:first-child::before {
  content: "";
  position: absolute;
  display: block;
  margin: 0 auto;
  top: 0;
  z-index: 1;
  background-color: transparent;
  background-image: url("/img/SVG/whitecopy.svg");
  width: 320px;
  height: 37px;
}
@media (min-width: 768px) {
  .advantages__item:first-child::before {
    display: none;
  }
}
@media (min-width: 768px) {
  .advantages__item {
    display: flex;
    flex-wrap: wrap;
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .advantages__item {
    width: 1200px;
  }
}
.advantages__title {
  margin: 0;
  padding-top: 70px;
}
@media (min-width: 768px) {
  .advantages__title {
    padding-top: 52px;
    padding-bottom: 6px;
    font-size: 21px;
  }
}
@media (min-width: 1200px) {
  .advantages__title {
    width: 150px;
    margin: 0 auto;
    padding-bottom: 0;
  }
}
.advantages__description {
  color: #333333;
  margin: 0 auto;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .advantages__description {
    width: 200px;
    margin: 0;
    padding-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .advantages__description {
    width: 280px;
    padding-bottom: 52px;
    margin: 0 auto;
  }
}
.advantages__img {
  display: block;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .advantages__img {
    margin: 0;
    padding: 0;
    width: 512px;
    height: 256px;
  }
}
@media (min-width: 1200px) {
  .advantages__img {
    width: 800px;
    height: 256px;
  }
}
@media (min-width: 768px) {
  .advantages__item:nth-child(2) .advantages__item-wrapper {
    order: 2;
  }
}
.advantages__item:nth-child(2) .advantages__title {
  padding-top: 39px;
}
@media (min-width: 1200px) {
  .advantages__item:nth-child(2) .advantages__description {
    width: 230px;
  }
}
@media (min-width: 768px) {
  .advantages__number {
    padding-bottom: 8px;
    margin-top: 10px;
  }
}
@media (min-width: 1200px) {
  .advantages__number {
    margin: 0 auto;
    padding: 0 0 10px 0;
  }
}
.button {
  display: inline-block;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background-color: hsl(203, 47%, 66%);
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  border: none;
}
.search {
  text-align: center;
  margin-bottom: 49px;
}
@media (min-width: 768px) {
  .search {
    margin-bottom: 58px;
  }
}
@media (min-width: 1200px) {
  .search {
    margin-bottom: 66px;
  }
}
.search__description {
  margin: 0 auto;
  width: 280px;
}
@media (min-width: 768px) {
  .search__description {
    width: 435px;
  }
}
.search__title {
  margin-bottom: 30px;
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}
.search__text {
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 27px;
}
.search__link {
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
}
@media (min-width: 768px) {
  .search__link {
    width: 458px;
    padding: 14px 121px 17px 121px;
    font-size: 21px;
  }
}
.search__link:hover {
  outline: none;
  background-color: #669EC0;
}
.search__link:focus {
  outline: none;
  background-color: #669ec0;
}
.search__link:active {
  outline: none;
  background-color: #5496BD;
  transition: 0.5s;
}
.search__link:disabled {
  background-color: #E5E5E5;
}
.br--mobile {
  display: none;
}
@media (min-width: 768px) {
  .br--mobile {
    display: block;
  }
}
.gallery {
  text-align: center;
  margin: 0;
}
.card {
  margin: 0;
  padding: 0 20px 0 20px;
  display: grid;
}
@media (min-width: 768px) {
  .card {
    width: 648px;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  .card {
    width: 1200px;
    grid-template-columns: repeat(3, 1fr);
  }
}
.card__item {
  list-style: none;
  position: relative;
}
@media (max-width: 768px) {
  .card__item {
    border-bottom: 1px solid #e5e5e5;
    padding-top: 22px;
  }
}
@media (min-width: 768px) {
  .card__item:first-child {
    grid-column: 1/3;
  }
}
@media (min-width: 1200px) {
  .card__item:first-child {
    grid-column: 1/4;
  }
}
@media (max-width: 768px) {
  .card__item:first-child {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    padding-top: 22px;
  }
}
.card__discription {
  height: 112px;
  margin-top: 0;
  text-align: left;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .card__discription {
    height: 80px;
    padding-top: 0;
    padding-left: 20px ;
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .card__discription {
    position: absolute;
    width: 100%;
    background-color: hsla(0, 0%, 0%, 0.3);
    bottom: -15px;
  }
}
.card__title {
  padding-top: 11px;
  margin: 0;
  color: hsl(0, 0%, 0%);
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  text-align: start;
}
@media (min-width: 768px) {
  .card__title {
    padding-top: 0;
    padding-top: 22px;
  }
}
@media (min-width: 1200px) {
  .card__title {
    color: hsl(0, 0%, 100%);
  }
}
.card__autor {
  color: hsl(0, 0%, 20%);
  font-weight: 400;
  line-height: 24px;
  text-transform: none;
  font-style: normal;
}
@media (min-width: 1200px) {
  .card__autor {
    color: #ffff;
  }
}
.card__counter {
  position: relative;
  margin: 0;
  color: hsl(0, 0%, 0%);
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  padding: 10px 50px 10px 0;
}
@media (min-width: 768px) {
  .card__counter {
    padding: 10px;
    margin-top: 25px;
  }
}
@media (min-width: 1200px) {
  .card__counter {
    color: #ffff;
  }
}
.card__counter--rate {
  padding-left: 14px;
}
@media (min-width: 768px) {
  .card__counter--rate {
    padding-left: 9px;
  }
}
.card__img:first-of-type {
  display: block;
}
@media (min-width: 768px) {
  .card__counter--like {
    position: absolute;
    left: -15px;
  }
}
#like {
  fill: black;
  opacity: 0.3;
}
@media (min-width: 1200px) {
  #like {
    fill: white;
    opacity: 0.9;
  }
}
.video {
  text-align: center;
  margin-top: 32px;
  margin-bottom: 49px;
}
@media (min-width: 768px) {
  .video {
    margin-top: 59px;
    margin-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  .video {
    margin-top: 66px;
    margin-bottom: 80px;
  }
}
.video__description {
  margin: 0 auto;
  width: 266px;
  margin-bottom: 33px;
}
@media (min-width: 768px) {
  .video__description {
    width: 445px;
    margin-bottom: 68px;
  }
}
@media (min-width: 1200px) {
  .video__description {
    margin-bottom: 66px;
  }
}
.video__title {
  margin-bottom: 30px;
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}
.video__text {
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  padding-bottom: 10px;
}
.video__link {
  width: 320px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .video__link {
    width: 648px;
  }
}
@media (min-width: 1200px) {
  .video__link {
    width: 800px;
  }
}
.recall-form {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 36px;
  background-color: #ffffff;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
}
.recall-form input {
  box-sizing: border-box;
  position: relative;
  padding: 16px 22px;
  width: 100%;
  min-width: 100px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  border: none;
  background-color: #f2f2f2;
  outline: none;
}
.recall-form input:hover {
  background-color: #e5e5e5;
}
.recall-form input:focus {
  background-color: #ffffff;
}
.recall-form input::placeholder {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  opacity: 1;
}
.recall-form input::-moz-placeholder {
  color: #000000;
  opacity: 1;
}
.recall-form input[type="checkbox"],
.recall-form input[type="radio"] {
  position: absolute;
  left: -19px;
}
.recall-form__section {
  position: relative;
  margin: 0;
  margin-top: -17px;
  padding: 0;
  border: none;
  text-align: center;
}
.recall-form__title {
  width: 300px;
  height: 50px;
  margin: 0 10px;
  padding: 0;
  padding-top: 18px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  border-top: 1px solid #e5e5e5;
  text-align: center;
  transform: translateY(18px);
  overflow: hidden;
}
.recall-form__id {
  margin: 15px 0;
  margin-bottom: 25px;
  padding: 0;
  list-style: none;
}
.recall-form__id-item {
  display: flex;
  margin: 20px;
  margin-top: 0;
}
.recall-form__id-label {
  align-self: center;
  margin-right: 14px;
  font-size: 14px;
  line-height: 26px;
  text-align: left;
}
.recall-form__contacts {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 7px;
  margin-bottom: 19px;
  padding: 0;
  list-style: none;
}
.recall-form__contacts-item {
  margin: 0 20px;
  margin-bottom: 8px;
  text-align: left;
}
.recall-form__contacts-item input[type="tel"],
.recall-form__contacts-item input[type="email"] {
  padding-right: 78px;
  margin: 0;
}
.recall-form__contacts-label {
  display: block;
  margin: 6px 21px;
}
.recall-form__contacts-input {
  position: relative;
}
.recall-form__input-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 58px;
  height: 58px;
  font-size: 0;
  background-color: #e6e6e6;
  border: none;
  box-shadow: none;
}
.recall-form__input-btn-icon {
  position: absolute;
  top: 20px;
  left: 20px;
}
.recall-form__interview {
  margin: 17px 0;
  margin-bottom: 26px;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: left;
  text-transform: none;
  list-style: none;
}
.recall-form__interview-item {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 13px;
  min-height: 56px;
  position: relative;
}
.recall-form__radio-input + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #f2f2f2;
}
.recall-form__radio-input:checked + label::after {
  content: "";
  position: absolute;
  top: 17px;
  left: 17px;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: #333333;
}
.recall-form input[type="radio"] {
  cursor: pointer;
  line-height: 26px;
}
.recall-form input[type="radio"]:hover + .recall-form__radio-control::before {
  background-color: #e5e5e5;
}
.recall-form input[type="radio"]:focus + .recall-form__radio-control::before {
  background-color: #e5e5e5;
  border: 0.5px dashed #81b3d2;
}
.recall-form input[type="radio"]:active + .recall-form__radio-control::before {
  background-color: #d5d5d5;
}
.recall-form input[type="radio"]:disabled + .recall-form__radio-control {
  background-color: #d5d5d5;
}
.recall-form input[type="radio"]:disabled + .recall-form__radio-control::before {
  border-color: #d5d5d5;
}
.recall-form input[type="radio"]:disabled + .recall-form__radio-control::after {
  opacity: 0.3;
}
.recall-form__radio-control {
  display: block;
  padding: 15px 10px;
  padding-left: 78px;
}
.recall-form__visited {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-top: 37px;
  width: 100%;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: left;
  text-transform: none;
  list-style: none;
}
.recall-form__visited-item {
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 24px;
  min-height: 56px;
  min-width: 280px;
}
.recall-form__checkbox-input + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 56px;
  height: 56px;
  border-radius: 5px;
  background-color: #f2f2f2;
}
.recall-form__checkbox-input:checked + label::after {
  content: url("/img/SVG/tick.svg");
  position: absolute;
  top: 16px;
  left: 17px;
  width: 25px;
  height: 19px;
}
.recall-form input[type="checkbox"] {
  cursor: pointer;
  line-height: 26px;
}
.recall-form input[type="checkbox"]:hover + .recall-form__checkbox-control::before {
  background-color: #e5e5e5;
}
.recall-form input[type="checkbox"]:focus + .recall-form__checkbox-control::before {
  background-color: #e5e5e5;
  border: 0.5px dashed #81b3d2;
}
.recall-form input[type="checkbox"]:active + .recall-form__checkbox-control::before {
  background-color: #d5d5d5;
}
.recall-form input[type="checkbox"]:disabled + .recall-form__checkbox-control {
  background-color: #d5d5d5;
}
.recall-form input[type="checkbox"]:disabled + .recall-form__checkbox-control::before {
  border-color: #d5d5d5;
}
.recall-form input[type="checkbox"]:disabled + .recall-form__checkbox-control::after {
  opacity: 0.3;
}
.recall-form__checkbox-control {
  display: block;
  padding: 14px 0;
  padding-left: 80px;
}
.recall-form__message-wrap {
  padding: 0;
  margin: 12px 20px;
  margin-bottom: 42px;
}
.recall-form__message-input {
  box-sizing: border-box;
  padding: 15px 20px;
  margin: 0;
  width: 100%;
  height: 160px;
  min-width: 150px;
  font-size: 18px;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  color: #000000;
  border: none;
  background-color: #f2f2f2;
  resize: none;
  outline: none;
  overflow: auto;
}
.recall-form__message-input::placeholder {
  color: #000000;
}
.recall-form__wrap-message {
  display: none;
}
.recall-form__btn {
  width: 280px;
  height: 58px;
}
.recall-form__btn:focus {
  outline: #5496bd auto 5px;
}
@media (min-width: 768px) {
  .recall-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 50px;
    padding-top: 7px;
    padding-bottom: 53px;
  }
  .recall-form__section {
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
    width: 648px;
  }
  .recall-form__section--id {
    order: 2;
    box-sizing: border-box;
    margin: 0;
    margin-left: 49px;
    width: 280px;
    border: none;
  }
  .recall-form__section--contacts {
    order: 3;
    margin: 0 10px;
    margin-top: 62px;
    width: 100%;
    border-top: 1px solid #e5e5e5;
  }
  .recall-form__section--interview {
    order: 1;
    margin: 0;
    width: 333px;
    border: none;
    box-shadow: 24px 0 0 -23px #dbdbdb;
  }
  .recall-form__section--visited {
    order: 4;
    margin-top: 45px;
    width: 100%;
    border-top: 1px solid #e5e5e5;
  }
  .recall-form__section--message {
    order: 5;
    margin-top: 52px;
    width: 100%;
    border-top: 1px solid #e5e5e5;
  }
  .recall-form__title {
    margin-left: 0;
    padding: 0;
    padding-left: 9px;
    height: auto;
    font-size: 21px;
    line-height: 26px;
    text-align: left;
    border: none;
    overflow: inherit;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .recall-form__title--highlight {
    position: relative;
    padding: 0;
    width: 309px;
    margin-left: 169px;
    margin-top: -13px;
    text-align: center;
    background: #ffffff;
    transform: none;
  }
  .recall-form__title--visited {
    width: 300px;
    margin-left: 169px;
    margin-top: -26px;
    text-align: center;
    background: #ffffff;
    transform: none;
    overflow: visible;
    white-space: normal;
  }
  .recall-form__radio-control {
    display: block;
    padding: 15px 10px;
    padding-left: 75px;
  }
  .recall-form__contacts-label {
    margin: 8px 21px 7px 21px;
  }
  .recall-form__radio-label {
    padding-left: 75px;
  }
  .recall-form__id {
    margin: 72px 4px 0 0;
  }
  .recall-form__id-item {
    margin: 0;
    margin-bottom: 18px;
    padding-top: 2px;
    padding-left: 4px;
  }
  .recall-form__id-label {
    padding-left: 5px;
  }
  .recall-form__interview {
    margin-top: 77px;
    margin-bottom: 0;
    margin-left: 10px;
  }
  .recall-form__interview-item {
    margin-left: 0;
    margin-bottom: 21px;
  }
  .recall-form__contacts {
    margin-top: 17px;
  }
  .recall-form__contacts-item {
    position: relative;
    margin: 0;
    margin-bottom: 14px;
  }
  .recall-form__visited {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    padding-top: 42px;
  }
  .recall-form__visited-item {
    display: block;
    min-width: 260px;
    margin: 0 -92px 30px 93px;
  }
  .recall-form__message-wrap {
    margin-left: 0;
    margin-right: 0;
    margin-top: 57px;
    margin-bottom: 49px;
  }
  .recall-form__bottom-wrap {
    order: 100;
    width: 100%;
  }
  .recall-form__wrap-message {
    display: inline-block;
    margin: 18px 0;
    margin-bottom: 21px;
    padding-right: 10px;
    width: 200px;
    text-align: right;
  }
  .recall-form__btn {
    order: 6;
    margin: 0 10px;
    min-width: 325px;
    padding-left: 64px;
    float: left;
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .hidden-desktop {
    display: none;
  }
  .recall-form {
    box-sizing: border-box;
    width: 1200px;
    margin: 0 auto;
    padding: 0 120px 58px 120px;
  }
  .recall-form input[type="text"],
  .recall-form input[type="tel"],
  .recall-form input[type="email"] {
    padding: 18px 22px 15px 22px;
  }
  .recall-form__section {
    margin: 0;
  }
  .recall-form__section--id {
    width: 480px;
  }
  .recall-form__section--contacts {
    width: 100%;
    margin-top: 58px;
  }
  .recall-form__section--interview {
    width: 480px;
  }
  .recall-form__section--visited {
    width: 100%;
    margin-top: 49px;
  }
  .recall-form__section--message {
    margin-top: 37px;
  }
  .recall-form__title {
    margin-left: 73px;
    margin-top: -2px;
  }
  .recall-form__title--highlight {
    margin: 0 280px;
    margin-top: -13px;
  }
  .recall-form__title--visited {
    margin: 0 280px;
    margin-top: -26px;
  }
  .recall-form__id {
    margin-top: 73px;
    margin-left: 80px;
    margin-right: 0;
    width: 400px;
  }
  .recall-form__id-label {
    padding: 0;
  }
  .recall-form__id-item {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
  }
  .recall-form__interview {
    margin-top: 76px;
    margin-left: 0;
    padding-left: 5px;
  }
  .recall-form__radio-control {
    display: block;
    padding: 15px 10px;
    padding-left: 75px;
  }
  .recall-form__contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 25px;
  }
  .recall-form__contacts-item {
    display: flex;
    width: 480px;
    padding-top: 51px;
    margin-bottom: 9px;
  }
  .recall-form__contacts-label {
    margin: 0;
    margin-right: 17px;
    line-height: 58px;
  }
  .recall-form__contacts-input {
    width: 314px;
  }
  .recall-form__contacts-item input[type="tel"],
  .recall-form__contacts-item input[type="email"] {
    margin: 0;
    padding: 16px 20px;
  }
  .recall-form__visited {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 0;
    padding-bottom: 30px;
    width: 100%;
  }
  .recall-form__visited-item {
    display: inline-block;
    min-width: 203px;
    margin: 0 0 10px 0;
  }
  .recall-form__visited-item:nth-child(2n + 4) {
    margin-right: 0;
    margin-left: -22px;
  }
  .recall-form__visited-item:first-child {
    margin-right: 2px;
  }
  .recall-form__visited-item:nth-child(2n + 5) {
    margin-right: 2px;
  }
  .recall-form__checkbox-control {
    display: block;
    padding: 14px 2px 15px 80px;
  }
  .recall-form__checkbox-label {
    padding-left: 80px;
    margin-right: 5px;
  }
  .recall-form__message-input {
    width: 960px;
    padding: 16px 22px;
  }
  .recall-form__message-wrap {
    margin-bottom: 50px;
  }
  .recall-form__wrap-message {
    padding: 0;
  }
  .recall-form__btn {
    margin: 0;
    padding-left: 34px;
    min-width: 480px;
    text-align: center;
  }
}
.page-main__promo {
  position: relative;
  width: 320px;
  height: 389px;
  margin: 0 auto;
  background-image: url(/img/background/back-mobile-320w.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: hsl(203, 47%, 66%);
}
@media (min-width: 768px) {
  .page-main__promo {
    width: 768px;
    height: 518px;
    background-image: url(/img/background/back-tablet.jpg);
  }
}
@media (min-width: 1200px) {
  .page-main__promo {
    width: 1199px;
    background-image: url(/img/background/back-desktop.jpg);
  }
}
@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 2dppx) {
  .page-main__promo {
    background-image: url(/img/background/back-desktop.jpg);
    background-size: 1538px auto;
  }
}
.promo::before,
.intro::before {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 57px;
  background-image: url(/img/SVG/intro-triangle.svg);
  background-position: bottom;
  background-repeat: no-repeat;
}
.promo__text-image {
  width: 282px;
  padding-top: 90px;
  padding-bottom: 83px;
  display: block;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .promo__text-image {
    width: 461px;
    padding-top: 80px;
    padding-bottom: 87px;
  }
}
@media (min-width: 1200px) {
  .promo__text-image {
    width: 459px;
    padding-top: 78px;
    padding-bottom: 92px;
  }
}
.page-main__intro {
  position: relative;
  margin: 0 auto;
  width: 320px;
  height: 160px;
  background-image: url(/img/background/back-mobile-intro.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: hsl(203, 47%, 66%);
}
@media (min-width: 768px) {
  .page-main__intro {
    width: 768px;
    height: 288px;
    background-image: url(/img/background/back-tablet-intro.jpg);
  }
}
@media (min-width: 1200px) {
  .page-main__intro {
    width: 1199px;
    height: 300px;
    background-image: url(/img/background/back-desktop-intro.jpg);
  }
}
@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 2dppx) {
  .page-main__intro {
    background-image: url(/img/background/back-desktop-intro@2x.jpg);
    background-size: 1538px auto;
  }
}
.intro__text-image {
  padding-top: 52px;
  padding-bottom: 69px;
  display: block;
  margin: 0 auto;
  width: 229px;
}
@media (min-width: 768px) {
  .intro__text-image {
    width: 458px;
    padding-top: 95px;
    padding-bottom: 115px;
  }
}
@media (min-width: 1200px) {
  .intro__text-image {
    width: 461px;
    padding-top: 100px;
    padding-bottom: 120px;
  }
}
.site-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .site-menu {
    display: flex;
  }
}
.site-menu__link {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  background-color: #81b3d2;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
@media (max-width: 768px) {
  .site-menu__link:hover {
    background-color: hsl(203, 42%, 58%);
  }
  .site-menu__link:active {
    background-color: hsl(202, 44%, 54%);
  }
}
@media (min-width: 768px) {
  .site-menu__link {
    width: 153px;
    font-size: 14px;
    border: none;
    background-color: #ffffff;
    color: #000;
    font-weight: bold;
  }
  .site-menu__link:hover {
    color: hsl(203, 47%, 66%);
  }
  .site-menu__link:active {
    color: hsl(0, 0%, 0%);
    opacity: 30%;
  }
}
@media (min-width: 1200px) {
  .site-menu__link {
    width: 240px;
  }
}
@media (min-width: 768px) {
  .site-menu__item:nth-child(2) {
    margin-right: 20%;
  }
}
@media (min-width: 768px) {
  .site-menu__item--active a {
    color: #766357;
  }
}
.site-menu__item:first-child a {
  border-top: none;
}
.entry-list {
  position: relative;
  padding: 0;
  margin: 0;
  list-style-type: none;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .entry-list {
    display: flex;
    width: 768px;
    height: 330px;
    padding-top: 0;
  }
}
@media (min-width: 1200px) {
  .entry-list {
    width: 1200px;
  }
}
.entry-list__item {
  padding-left: 69px;
}
.entry-list__item:last-child {
  padding-bottom: 35px;
}
@media (min-width: 768px) {
  .entry-list__item {
    width: 256px;
    text-align: center;
    padding: 0;
    padding-top: 158px;
  }
}
@media (min-width: 1200px) {
  .entry-list__item {
    width: 400px;
    padding-top: 159px;
  }
}
.entry-list__title {
  padding-top: 26px;
  padding-bottom: 20px;
  margin: 0;
  font-size: 21px;
}
@media (min-width: 768px) {
  .entry-list__title {
    padding-top: 0;
    padding-bottom: 30px;
  }
}
.entry-list__item--housing .entry-list__title {
  padding-top: 35px;
}
@media (min-width: 768px) {
  .entry-list__item--housing .entry-list__title {
    padding-top: 0;
    padding-bottom: 30px;
  }
}
.entry-list__description {
  display: block;
  color: #333333;
  text-align: left;
  margin: 0;
}
@media (min-width: 768px) {
  .entry-list__description {
    text-align: center;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .entry-list__description {
    width: 300px;
  }
}
@media (min-width: 768px) {
  .entry-list__item--housing .entry-list__description {
    width: 185px;
  }
}
@media (min-width: 1200px) {
  .entry-list__item--housing .entry-list__description {
    width: 282px;
  }
}
@media (min-width: 768px) {
  .entry-list__item--food .entry-list__description {
    width: 180px;
    padding-left: 13px;
    padding-right: 13px;
  }
}
@media (min-width: 1200px) {
  .entry-list__item--food .entry-list__description {
    width: 313px;
  }
}
@media (min-width: 768px) {
  .entry-list__item--gifts .entry-list__description {
    width: 193px;
  }
}
@media (min-width: 1200px) {
  .entry-list__item--gifts .entry-list__description {
    width: 240px;
  }
}
@media (min-width: 768px) {
  .entry-list__item--gifts {
    order: 1;
  }
}
.entry-list__item--housing {
  display: block;
  background-image: url("/img/SVG/icon-house.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 39px 37px;
  background-position: 21px 26px;
}
@media (min-width: 768px) {
  .entry-list__item--housing {
    background-size: 75px 72px;
    background-position: top 60px left 90px;
  }
}
@media (min-width: 1200px) {
  .entry-list__item--housing {
    background-size: 74px 72px;
    background-position: top 59px left 161px;
  }
}
.entry-list__item--food {
  display: block;
  background-image: url("/img/SVG/icon-burger.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 40px 34px;
  background-position: 18px 21px;
}
@media (min-width: 768px) {
  .entry-list__item--food {
    background-size: 76px 67px;
    background-position: top 63px left 90px;
  }
}
@media (min-width: 1200px) {
  .entry-list__item--food {
    background-size: 76px 68px;
    background-position: top 63px left 161px;
  }
}
.entry-list__item--gifts {
  display: block;
  background-image: url("/img/SVG/icon-gift.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 32px 38px;
  background-position: 18px 15px;
}
@media (min-width: 768px) {
  .entry-list__item--gifts {
    background-size: 64px 75px;
    background-position: top 57px left 93px;
  }
}
@media (min-width: 1200px) {
  .entry-list__item--gifts {
    background-size: 63px 75px;
    background-position: top 57px left 165px;
  }
}
.map {
  height: 350px;
}
.map__image {
  width: 320px;
  height: 350px ;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .map__image {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .map__image {
    width: 1200px;
  }
}
.slogan {
  position: relative;
  padding: 0 10px;
  margin-top: 32px;
  text-align: center;
}
@media (min-width: 768px) {
  .slogan {
    margin-top: 32px;
    margin-bottom: 43px;
  }
}
@media (min-width: 1200px) {
  .slogan {
    margin-top: 55px;
    margin-bottom: 41px;
  }
}
.slogan__index {
  margin-left: auto;
  margin-right: auto;
  width: 285px;
}
@media (min-width: 768px) {
  .slogan__index {
    width: 520px;
  }
}
@media (min-width: 1200px) {
  .slogan__index {
    width: 485px;
    padding: 0;
  }
}
.slogan-index__title,
.slogan-catalog__title,
.slogan-form__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000;
}
.slogan__catalog {
  margin-left: auto;
  margin-right: auto;
  width: 290px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .slogan__catalog {
    width: 440px;
  }
}
.slogan__form {
  width: 306px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .slogan__form {
    width: 435px;
  }
}
.slogan-catalog__description {
  padding-bottom: 20px;
}
.bottom__list {
  padding: 0;
  list-style: none;
  text-align: center;
  margin: 0;
}
@media (min-width: 768px) {
  .bottom__list {
    width: 768px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .bottom__list {
    width: 1200px;
  }
}
.bottom__item {
  margin: 0 auto;
  border-bottom: 1px solid #d6d6d6;
}
.bottom__item:last-child {
  border-bottom: none;
}
@media (min-width: 768px) {
  .bottom__item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 256px;
    width: 256px;
    border: none;
  }
  .bottom__item .bottom__number {
    padding-top: 12px;
  }
}
@media (min-width: 1200px) {
  .bottom__item {
    width: 400px;
  }
}
.bottom__item-wrapper {
  width: 320px;
  padding-top: 25px;
  padding-bottom: 24px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin: 0;
}
@media (min-width: 768px) {
  .bottom__item-wrapper {
    padding-top: 42px;
    width: 256px;
  }
}
@media (min-width: 1200px) {
  .bottom__item-wrapper {
    width: 400px;
  }
}
.bottom__title {
  margin: 0;
}
@media (min-width: 768px) {
  .bottom__title {
    font-size: 21px;
    width: 120px;
  }
}
@media (min-width: 1200px) {
  .bottom__title {
    margin: 0 auto;
    padding: 0 0 15px 0;
  }
}
@media (min-width: 768px) {
  .bottom__number {
    padding-bottom: 8px;
    margin-top: 10px;
  }
}
@media (min-width: 1200px) {
  .bottom__number {
    margin: 0 auto;
    padding: 15px 0 15px 0;
  }
}
.bottom__description {
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .bottom__description {
    padding-top: 10px ;
  }
}
@media (min-width: 768px) {
  .bottom__item:nth-child(1) .bottom__item-wrapper {
    width: 189px;
  }
}
@media (min-width: 1200px) {
  .bottom__item:nth-child(1) .bottom__item-wrapper {
    width: 315px;
  }
}
@media (min-width: 768px) {
  .bottom__item:nth-child(2) .bottom__item-wrapper {
    width: 162px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width: 1200px) {
  .bottom__item:nth-child(2) .bottom__item-wrapper {
    width: 292px;
  }
}
@media (min-width: 768px) {
  .bottom__item:nth-child(3) .bottom__item-wrapper {
    width: 175px;
  }
}
@media (min-width: 1200px) {
  .bottom__item:nth-child(3) .bottom__item-wrapper {
    width: 290px;
  }
}
/*# sourceMappingURL=style.css.map */
